<nav class="header">
  3 Joys
</nav>

<div class="main">
  {{#if signingInWithEmail}}
    <button {{action 'showSignInWithEmail'}} class="btn btn-lg btn-primary">
      Sign In with Facebook or Twitter
    </button>
    <form {{action "signInWithEmail" model on="submit"}}>
      <label>Email
        {{input type='email' value=model.email}}
      </label>
      <br>
      <label>Password
      {{input type='password' value=model.password}}
      </label>
      <br>
      <input type="submit" class="btn btn-lg btn-default" value="Sign In">
    </form>
  {{else}}
  <h2>Sign In With</h2>
    <button class="btn btn-lg btn-primary">
      Facebook
    </button>
    <br>

    <button class="btn btn-lg btn-info">
      Twitter
    </button>
    <br>
    <button {{action 'showSignInWithEmail'}} class="btn btn-lg btn-default">
      Email
    </button>
  {{/if}}
</div>
